<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<header class="bg-primary text-white">
  <nav class="d-flex justify-content-between p-2 align-items-center text-reset">   
    <a href='/'><i class="fas fa-arrow-left fs-1 text-white"></i></a>
    <h2 class="m-0 p-0">Edit <%= resource_name.to_s.humanize %></h2>
    <%= f.submit "Next", class: "nav-link" %>
  </nav> 
</header>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded-0", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "form-control rounded-0" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "form-control rounded-0" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control rounded-0" %>
  </div>
<% end %>

<div class="mt-3">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: " btn btn-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></div>

<%= link_to "Back", :back, class: "link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>