<div id="<%= dom_id group %>">
<div class="d-flex justify-content-between border border-secondary-subtle p-2 mt-2">
  
      <%= link_to  group_expenses_path(group), class:'text-decoration-none d-flex mr-4'  do %>
    <div class="col">
       <%= image_tag group.icon, :class => 'img-fluid img-thumbnail w-25 icon', :alt => "#{group.name} icon" %>
    </div>
    <div class="col">
      <h5><%= group.name %></h5>
      <h6><%= group.created_at.strftime('%b %d, %Y') %></h6>
    </div>
 
      <% end %>

  <div class="col d-flex flex-column">
    <p><strong><%= "Total: $#{group_total(group)}"%></strong></p>
    <%= link_to "Delete", @group, method: :delete %>
  </div>
</div>
</div